html,
body,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: "Souce Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.8);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Souce Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
h1 {
  font-weight: 700;
}
body {
  background: -webkit-linear-gradient(#fccb56, #feeaba);
  background: linear-gradient(#fccb56, #feeaba);
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}
a {
  color: #225b66;
}
a:hover {
  color: #fccb56;
}
header {
  background-color: #fff;
}
.content {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1rem;
}
.placard {
  margin: 0 0 1em 0;
  box-sizing: border-box;
}
.placard h1:first-of-type,
.placard h2:first-of-type,
.placard h3:first-of-type,
.placard h4:first-of-type,
.placard h5:first-of-type,
.placard h6:first-of-type {
  margin-top: 0;
}
.placard .content {
  border-radius: .2em;
  background-color: #fff;
  padding: 1em;
}
.placard .demo {
  padding: .5em;
  border-radius: .2em;
  margin: .5em 1em;
}
.placard p {
  box-sizing: border-box;
  padding: 0;
  margin: 1em 0;
}
.placard p.pure-u-1-3 {
  text-align: center;
}
.round_button {
  background-color: #8dbf67;
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  line-height: 3.4rem;
  border-radius: 2em;
  text-align: center;
  font-weight: 700;
}
pre {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: .2rem;
  padding: .5em 1em;
}
pre code {
  color: #fff;
}
p.credit {
  text-align: center;
}
.pure-button.download {
  background-color: #fccb56;
  color: rgba(0, 0, 0, 0.8);
}
.pure-button.download:hover {
  color: #000;
}
